<!DOCTYPE html>
<html>
  <head>
    <title>Resurrected</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style="padding: 10em;">
    <ul>
    </ul>
    <h1>RESURRECTED</h1>
    <h2>god</h2>
    <hr>
    <%= yield %>
  </body>
</html>
